ion-header {
    ion-toolbar {
        --background: linear-gradient(90deg, #cf3653 0%, #e8233e 100%);
        letter-spacing: 2px;
        font-size: 2rem !important;
        color: #fff;

        ion-title{
            font-size: 25px;
            text-align: left;
            margin: auto;
            margin-left: -40px;
        }
        ion-back-button{
            margin-left: -20px;
            margin-bottom: 6px;
        }
    }
}

ion-content {
    --background: #fff;

    .tabs {
        margin-top: 20px;
        margin-bottom: -40px;
        font-family: "Nato Sans HK", sans-serif;
        ion-segment{
            --background: none;
            ion-segment-button{
                color: #7c7899;
                font-size: 1rem;
                --border-width: 0;
                --padding-start: 8px !important;
                --padding-bottom: 3px !important;
                --padding-end: 8px !important;
                --padding-top: 3px !important;
                --background-checked: #fff; //#feacac
                --indicator-color: transparent !important;
                --color: rgb(0, 0, 0); //#fff
                --color-check: #fff;
                font-weight: bold;
                border-radius: 22px;
            }
        }
    }

    .chat-list{
        background: #fff;
        margin-top: 5px;
        

        .all-chats{
            padding-top: 0;
        }
        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #7c7899;
            h1{
                font-size: 1.2rem;
                font-weight: bold;
                color: #7c7899;
            }
            ion-icon{
                font-size: 1.5rem;
                

            }
        }
        .chats {
            margin-top: 15px;
            ion-item::part(native){
                padding: 0;
            }
            ion-item {
                margin-bottom: 15px;
               
                ion-avatar{
                    width: 100% !important;
                    height: 100% !important;
                    margin-right: 10px;
                    max-width: 51px;
                }
                ion-label{
                    h2{
                        font-size: 1rem;
                        font-weight: bolder;
                        color: #7c7899;
                    }
                    p{
                        margin-top: 6px;
                        font-size: 0.8rem;
                        color: #7c7899;
                        opacity: 0.5;
                        letter-spacing: 0.5;
                        font-weight: bold;
                    }
                }
                .info-div{
                    position: absolute;
                    right: 0;
                    font-size: 0.8rem;
                    color: #7c7899;
                    font-weight: bolder;
                    text-align: right;
                    margin-top: 20px;
                    p{
                        opacity: 0.5;
                        margin-right: 40px;
                    }
                    ion-icon{
                        font-size: 1.3rem;
                        margin-top: 15px;
                        margin-bottom: -15px;
                    }
                    ion-badge{
                        font-size: 11px;
                        margin-top: 15px;
                        margin-bottom: -15px;
                        --padding-start:5px;
                        --padding-end:5px;
                        --padding-bottom:3px;
                        --padding-top:3px;
                        --background:red;

                    }

                }
            }
        }
    }
    ion-fab-button{
        position: fixed;
        z-index: 111;
        bottom: 30px;
        right: 15px;
        --background:#cc4510; //#feacac

    }

    .searchbar{
        border-radius: 0;
        
        margin-bottom: -30px;
        
    }

    .msg1{
        margin-bottom: 35px;
    }

    .msg2{
        margin-bottom: 55px;
        
    }

   
}
