<ion-header class="ion-no-border">
  <ion-toolbar class="header-bg">
    <ion-button>
      <ion-back-button mode="md" defaultHref="/home" color="white"></ion-back-button>
    </ion-button>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search" class="searchbar" ></ion-searchbar>
  <div class="tabs ion-padding">
  <ion-segment [(ngModel)]="activeTab">
    <ion-segment-button value="chats">
      <ion-label>Chats</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calls">
      <ion-label>Calls</ion-label>
    </ion-segment-button>
  </ion-segment>

  </div>
  <div class="chat-list" *ngIf="activeTab == 'chats'">
    <div class="recent-chats ion-padding">
      <div class="heading">
        <h1>Recent Chats</h1>
        <!--<ion-icon name="search-sharp"></ion-icon>-->
      </div>
      <div class="chats">
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="assets/images/pic1.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Maxwell Fairbank</h2>
            <p>A friend of mine thinks he saw that person near his apartment</p>
          </ion-label>
          <div class="info-div">
            <p class="msg1">2:13</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="assets/images/pic2.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>June Ramos</h2>
            <p>I saw her yesterday in the pharmacy by the city</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p class="msg2">4:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="assets/images/pic3.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Patricia Silva</h2>
            <p>A bird keeps on coming back to my farm to eat with my chickens, i think it's yours.</p>
          </ion-label>
          <div class="info-div">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <p class="msg2">6:30</p>
          </div>
        </ion-item>
      </div>
    </div>
    <div class="all-chats ion-padding">
      <div class="heading">
        <h1>All Chats</h1>
        <!--<ion-icon name="search-sharp"></ion-icon>-->
      </div>
      <div class="chats">
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="assets/images/pic1.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Maxwell Fairbank</h2>
            <p>A friend of mine thinks he saw that person near his apartment</p>
          </ion-label>
          <div class="info-div">
            <p class="msg1">2:13</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page"> <!--routerLink="/conversation-page"-->
          <ion-avatar>
            <img src="assets/images/pic2.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>June Ramos</h2>
            <p>I saw her yesterday in the pharmacy by the city</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p class="msg2">4:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="assets/images/pic3.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Patricia Silva</h2>
            <p>A bird keeps on coming back to my farm to eat with my chickens, i think it's yours.</p>
          </ion-label>
          <div class="info-div">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <p class="msg2">6:30</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="assets/images/pic4.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Sophia Waiters</h2>
            <p>There's an adorable dog wandering in my neighborhood, i took it home because it looks so hungry. It's probably your lost dog.</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p class="msg2">7:10</p>
          </div>
        </ion-item>
      </div>
    </div>
  </div>

  <div *ngIf="activeTab == 'calls' ">
    <div class="ion-padding">
    </div>
  </div>

  <ion-fab-button>
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
  </ion-fab-button>
</ion-content>