<ion-header class="ion-no-border">
  <ion-toolbar class="header-bg">
    <ion-button>
      <ion-back-button mode="md" defaultHref="/home" color="white"></ion-back-button>
    </ion-button>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search" class="searchbar" ></ion-searchbar>
  <div class="tabs ion-padding">
  <ion-segment [(ngModel)]="activeTab">
    <ion-segment-button value="chats">
      <ion-label>Chats</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calls">
      <ion-label>Calls</ion-label>
    </ion-segment-button>
  </ion-segment>

  </div>
  <div class="chat-list" *ngIf="activeTab == 'chats'">
    <div class="recent-chats ion-padding">
      <div class="heading">
        <h1>Recent Chats</h1>
        <!--<ion-icon name="search-sharp"></ion-icon>-->
      </div>
      <div class="chats">
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Josh</h2>
            <p>Typing...</p>
          </ion-label>
          <div class="info-div">
            <p class="msg1">2:13</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Mom</h2>
            <p>Don't forget to use you mask</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p class="msg2">4:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Victoria</h2>
            <p>Wait for a minute</p>
          </ion-label>
          <div class="info-div">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <p class="msg2">6:30</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Ben</h2>
            <p>Bye</p>
          </ion-label>
          <div class="info-div">
            <ion-badge class="badge1">1</ion-badge>
            <p class="msg2">7:10</p>
          </div>
        </ion-item>
      </div>
    </div>
    <div class="all-chats ion-padding">
      <div class="heading">
        <h1>All Chats</h1>
        <!--<ion-icon name="search-sharp"></ion-icon>-->
      </div>
      <div class="chats">
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Josh</h2>
            <p>Typing...</p>
          </ion-label>
          <div class="info-div">
            <p class="msg1">2:13</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page"> <!--routerLink="/conversation-page"-->
          <ion-avatar>
            <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Mom</h2>
            <p>Don't forget to use you mask</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p class="msg2">4:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Victoria</h2>
            <p>Wait for a minute</p>
          </ion-label>
          <div class="info-div">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <p class="msg2">6:30</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="/conversation-page">
          <ion-avatar>
            <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Ben</h2>
            <p>Bye</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p class="msg2">7:10</p>
          </div>
        </ion-item>
      </div>
    </div>
  </div>

  <div *ngIf="activeTab == 'calls' ">
    <div class="ion-padding">
    </div>
  </div>

  <ion-fab-button>
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
  </ion-fab-button>
</ion-content>
