<ion-header>
  <ion-toolbar class="header-bg" >
    <ion-button>
      <ion-back-button mode="md" defaultHref="/home" color="white"></ion-back-button>
    </ion-button>
    <ion-title color="white" class="notif">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div1">
    <ion-item lines="none" class="item1" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="https://icon-library.com/images/boy_child_school_boy_student-512.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Josh</h2>
        <p>Typing...</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>6</ion-badge>
      </div>
    </ion-item>
  </div>
</ion-content>
