<ion-header>
  <ion-toolbar class="header-bg" >
    <ion-button>
      <ion-back-button mode="md" defaultHref="/home" color="white"></ion-back-button>
    </ion-button>
    <ion-title color="white" class="notif">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div1">
    <ion-item lines="none" class="item1" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/agoncillo.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Agoncillo Municipal Police Station</h2>
        <p>The team will immediately disseminate the victim's identity to quickly gather information.</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>1</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/alitagtag.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Alitagtag Municipal Police Station</h2>
        <p>The team will immediately inform you when we gather any information.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/balayan.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Balayan Municipal Police Station</h2>
        <p>The team have seen your post. We'll take action on this case.</p>
      </ion-label>
      <div class="info-div">
        <ion-badge>1</ion-badge>
      </div>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/balete.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Balete Municipal Police Station</h2>
        <p>This is to inform you that the information has been shared in our province and neighboring towns.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/batangas_city.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Batangas City Police Station</h2>
        <p>The team will take action on this case.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/lemery.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Lemery Municipal Police Station</h2>
        <p>This is to inform you that we've seen your post and the team will take charge of this case.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/lipa.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Lipa City Police Station</h2>
        <p>The team will immediately inform you when there's a lead in this case.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/san_luis.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>San Luis Municipal Police Station</h2>
        <p>The team will take action on this case.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/san_pascual.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>San Pascual Municipal Police Station</h2>
        <p>The team have seen your post. We'll take action on this case.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/noti1">
      <ion-avatar>
        <img src="assets/images/tanauan.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        <h2>Tanauan City Police Station</h2>
        <p>The team will immediately inform you when we gather any information.</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
