<ion-header [translucent]="true">
  <ion-toolbar class="header-bg">
    <ion-searchbar placeholder="Search" [(ngModel)]="searchTerm" class="searchbar" color="white"></ion-searchbar>
    <ion-icon name="chatbubbles-outline" class="msg" (click)="message()" color="white"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardList">
    <ion-card-content>
      These are the lists of police stations in Batangas Province with their contacts.
    </ion-card-content>
  </ion-card>

  <ion-accordion-group>
    <ion-accordion value="0">
      <ion-item *ngFor="let station of station0 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station0 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
        
    <ion-accordion value="1">
      <ion-item *ngFor="let station of station1 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station1 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>

    <ion-accordion value="2">
      <ion-item *ngFor="let station of station2 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station2 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>

    <ion-accordion value="3">
      <ion-item *ngFor="let station of station3 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station3 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>

    <ion-accordion  value="4">
      <ion-item *ngFor="let station of station4 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station4 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>

    <ion-accordion  value="5">
      <ion-item *ngFor="let station of station5 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station5 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>

    <ion-accordion value="6">
      <ion-item *ngFor="let station of station6 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station6 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="7">
      <ion-item *ngFor="let station of station7 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station7 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="8">
      <ion-item *ngFor="let station of station8 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station8 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>

    <ion-accordion value="9">
      <ion-item *ngFor="let station of station9 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>

      <ion-card *ngFor="let station of station9 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="10">
      <ion-item *ngFor="let station of station10 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station10 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="11">
      <ion-item *ngFor="let station of station11 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station11 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="12">
      <ion-item *ngFor="let station of station12 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station12 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="13">
      <ion-item *ngFor="let station of station13 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station13 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="14">
      <ion-item *ngFor="let station of station14 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station14 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="15">
      <ion-item *ngFor="let station of station15 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station15 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="16">
      <ion-item *ngFor="let station of station16 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station16 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="17">
      <ion-item *ngFor="let station of station17 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station17 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="18">
      <ion-item *ngFor="let station of station18 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station18 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="19">
      <ion-item *ngFor="let station of station19 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station19 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="20">
      <ion-item *ngFor="let station of station20 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station20 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="21">
      <ion-item *ngFor="let station of station21 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station21 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="22">
      <ion-item *ngFor="let station of station22 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station22 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="23">
      <ion-item *ngFor="let station of station23 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station23 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="24">
      <ion-item *ngFor="let station of station24 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station24 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="25">
      <ion-item *ngFor="let station of station25 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station25 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="26">
      <ion-item *ngFor="let station of station26 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station26 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="27">
      <ion-item *ngFor="let station of station27 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station27 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="28">
      <ion-item *ngFor="let station of station29 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station29 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="29">
      <ion-item *ngFor="let station of station30 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station30 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="30">
      <ion-item *ngFor="let station of station31 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station31 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="31">
      <ion-item *ngFor="let station of station32 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station32 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="32">
      <ion-item *ngFor="let station of station33 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station33 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
    
    <ion-accordion value="33">
      <ion-item *ngFor="let station of station34 | filter:searchTerm" slot="header">
        <ion-label>{{station.name}}</ion-label>
      </ion-item>
      
      <ion-card *ngFor="let station of station34 | filter:searchTerm" slot="content">
        <ion-card-content>
          <ion-list>
            <ion-item>{{station.location}}</ion-item>
            <ion-item>{{station.phoneNum}}</ion-item>
            <ion-item>{{station.email}}</ion-item>
            <ion-item>{{station.personnel}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
  
  </ion-accordion-group>

</ion-content>