.searchbar {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    width: 320px;
  }
  
  .msg {
    vertical-align: middle;
    font-size: 25px;
    margin-bottom: 5px;
    display: inline-block;
    color: #cc4510;
  }

  h3{

    text-align: left;
  }