<ion-content [fullscreen]="true">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref="/welcome" color="white"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row class="logo">
    <ion-col>
      <ion-img src="assets/images/flogo.png"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-list lines="full">
    <ion-list-header class="ion-margin">
      <ion-label>
        Welcome Back
      </ion-label>
    </ion-list-header>

    <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="userForm" (ngSubmit)="goTosignIn(userForm.value)">

        <div class="w3-panel w3-red">
          <label class="ion-text-center" color="danger">{{errorMsg}}</label>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Email Address">
              <ion-icon name="mail" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" 
          *ngFor="let error of error_msg?.email">
            <ion-text *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
              {{ error.message }}
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Password" required>
              <ion-icon name="key" color="medium" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngFor="let error of error_msg?.password">
            <ion-text *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
              {{ error.message }}
            </ion-text>
          </ion-text>
        </div>

        <p class="ion-text-right"><ion-text color="primary">Forgot Password?</ion-text></p>

        <ion-button type="submit" size="large" expand="block" shape="round" color="primary" [disabled]="!userForm.valid" >
          <ion-text color="white">Sign in</ion-text>
        </ion-button>

        

      </form>
    </ion-item-group>
  </ion-list>
</ion-footer>