<ion-header>
  <ion-toolbar>
    <ion-title>Full Details</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>
        <ion-slide>
          <div class="slide">
            <img class="pic1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcrwMvUgClCnBNDMfiBcopM8BgT74epXtu0g&usqp=CAU">
          </div>
          
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>Aliases:</div>
              </ion-col>
              <ion-col>
                <div>"Pajaro","Mando"</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div>Date of Birth:</div>
              </ion-col>
              <ion-col>
                <div>April 12, 1985</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div>Place of Birth:</div>
              </ion-col>
              <ion-col>
                <div>Illinois</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div>Hair:</div>
              </ion-col>
              <ion-col>
                <div>Black</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div>Eyes:</div>
              </ion-col>
              <ion-col>
                <div>Brown</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div>Height:</div>
              </ion-col>
              <ion-col>
                <div>5'7</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div>Weight:</div>
              </ion-col>
              <ion-col>
                <div>175 pounds</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div>Sex:</div>
              </ion-col>
              <ion-col>
                <div>Male</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div>Nationality:</div>
              </ion-col>
              <ion-col>
                <div>American</div>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-slide>

        <ion-slide>
          
          <h2>POSTER</h2>

        </ion-slide>


      </ion-slides>


    </ion-content>
  </ion-app>

