<ion-header>
  <ion-toolbar class="header-bg">
    <ion-button>
      <ion-back-button mode="md" defaultHref="/home" color="white"></ion-back-button>
    </ion-button>
    <ion-title class="titlePetFullDetails" color="white">Full Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>
      <ion-slide>
        <div class="slide">
          <img class="pic1" src="assets/images/bird.jpg">
        </div>
          
        <ion-grid>

          <ion-row>
            <ion-col>
              <div>Name:</div>
            </ion-col>
            <ion-col>
              <div>Chopper</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div>Gender:</div>
            </ion-col>
            <ion-col>
              <div>Male</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div>Breed:</div>
            </ion-col>
            <ion-col>
              <div>Cockatiel</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div>Color:</div>
            </ion-col>
            <ion-col>
              <div>Cinnamon</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div>Missing Since:</div>
            </ion-col>
            <ion-col>
              <div>July 16, 2022</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide> 
        <ion-item>
          <ion-img class="poster1" src="assets/images/poster2.png"> </ion-img>
        </ion-item>

        <ion-button size="small" expand="block" shape="round" color="primary" class="btnPrint">
          <ion-text color="white">Print</ion-text>
        </ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>
</ion-app>

