<ion-header [translucent]="true">
  <ion-toolbar class="header-bg">
    <ion-searchbar placeholder="Search" class="searchbar" color="white"></ion-searchbar>
    <ion-icon name="chatbubbles-outline" class="msg" (click)="message()" color="white"> </ion-icon>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu" class="menuIcon" color="white"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card class="card1">
      <ion-card-header>
        <ion-card-subtitle class="missing">Missing Person</ion-card-subtitle>
        <ion-item lines="none" class="profile1">
          <ion-avatar>
            <img src="assets/images/profileM1.png" alt="">
          </ion-avatar>
          <ion-label>
            <h2 class="text1">Jessica Buckley</h2>
          </ion-label>
        </ion-item>
        
        <ion-card-title>Armando A. Diaz</ion-card-title>
        <img class="pic1" src="assets/images/m1.png">
      </ion-card-header>
      
      <ion-card-content>
        Diaz has ties to Chicago, Illinois, and Guadalajara, Mexico, where he was last seen.
        <a (click)="dtls()">see more</a>
      </ion-card-content>
    </ion-card>
  </div>
        
  <div>
    <ion-card class="card2">
      <ion-card-header>
        <ion-card-subtitle class="missing">Missing Pet</ion-card-subtitle>
        <ion-item lines="none" class="profile1">
          <ion-avatar>
            <img src="assets/images/profileM2.png" alt="">
          </ion-avatar>
          <ion-label>
            <h2 class="text1">Theodore Watkins</h2>
          </ion-label>
        </ion-item>
        <ion-card-title>Chopper</ion-card-title>
        <img class="pic2" src="https://feistyfeathers.files.wordpress.com/2019/06/44a.jpg?fbclid=IwAR3dkAX6A7tvn1D-lZULZ1Xv8pddJdrz_FP5iPAQB1ByCdPGjwPc7oW6CzA" >
      </ion-card-header>
      
      <ion-card-content>
        Chopper have a ring band on his right leg with my contact number on it. He can also do the sexy whistle sound all the time when he's out so spotting him will probably easy.
        <a (click)="petdtls()">see more</a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>