.searchbar {
  display: inline-block;
  vertical-align: middle;
  margin-left: -10px;
  margin-top: 10px;
  width: 300px;
}
  
.msg {
  vertical-align: middle;
  font-size: 25px;
  margin-bottom: 5px;
  display: inline-block;
  color: #cc4510;
}
  
.pic1 {
  height: 150px;
}
  
.pic2 {
  height: 150px;
  width: 150px;
}
  
.missing {
  color: red;
}
  
.menuIcon{
  margin-top: 10px;
  color: #cc4510;
}

.header-bg{
  --background: linear-gradient(90deg, #cf3653 0%, #e8233e 100%);
} 