<ion-content [fullscreen]="true">
 
  <ion-grid>
    <ion-row class="logo">
      <ion-col>
        <ion-img src="assets/images/flogo.png"></ion-img>
      </ion-col>
    </ion-row>
    <div class="authButton">
      <ion-button size="large" expand="block" shape="round" color="white"
        routerLink="/welcome/sign-up">
        <ion-text color="primary">Sign up</ion-text>
      </ion-button>
      <ion-button size="large" expand="block" shape="round" fill="outline" color="white" 
        routerLink="/welcome/sign-in">
        <ion-text color="white">Sign in</ion-text>
      </ion-button> 
    </div>
  </ion-grid>
</ion-content>