.header-bg{
  --background: linear-gradient(90deg, #cf3653 0%, #e8233e 100%);
}

ion-toolbar{
  height: 62px;
  margin-bottom: 10px;
  ion-back-button{
    margin-left: -20px;
  }
  .titleDetails{
    font-size: 25px;
    text-align: left;
    margin: auto;
    margin-left: -40px;
  }
}
  
ion-label{
  font-size-adjust: 11px;
}

ion-card {
  box-shadow: none;
  margin-left: 0%;
}

.iptDOB {
  width: 100px;
}
.iptAge {
  width: 10px;
}

.btnPeople{
  margin-top: 40px;
  margin-left: 20px;
  height: 40px;
}
  